.backToTop{

position:fixed;

right:30px;

bottom:115px;

width:58px;

height:58px;

border:none;

border-radius:50%;

background:#D4AF37;

color:#08111F;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

box-shadow:0 18px 40px rgba(212,175,55,.35);

transition:.35s;

opacity:0;

visibility:hidden;

transform:translateY(30px);

z-index:999;

}

.backToTop.show{

opacity:1;

visibility:visible;

transform:translateY(0);

}

.backToTop:hover{

transform:translateY(-6px);

background:#e6c34b;

}

@media(max-width:768px){

.backToTop{

right:18px;

bottom:90px;

width:52px;

height:52px;

}

}